html {
    margin: 0px;
}

body {
    background-color: #faedcd;
    margin: 0px;
}

.page-container {
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
}

/*<--- main --->*/

.main-page {
    width: 77.5%;
}

.group {
    padding-top: 28px;
}

.general-info {
    padding: 0px 32px;
}

.general-info h2 {
    margin-top: 0px;
    margin-bottom: 32px;
}

.note {
    background-color: #caf0f8;
    padding: 16px;
    border-left: 10px solid #90e0ef;
    margin: 16px 0px;
    border-radius: 4px;
}

.learning {
    padding: 16px 32px;
}

.title {
    color: royalblue;
}

/*<--- aside --->*/

.aside {
    background-color: #EB442C;
    overflow-y: scroll;
    width: 23%;
    min-width: 280px;
}

.page-aside-nav-container {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.big-title {
    margin: 16px 0px;
}

.small-title {
    margin: 0px 20px;
    padding: 0px;
    /* trying to remove padding here for the ul elements*/
}

.li-nav-item {
    margin-bottom: 12.800px;
    color: white;
}

a {
    color: white;
}

/* <--- ending ---> */

.project-links {
    padding: 0px 32px;
    margin: 32px 8px 16px 8px;
    display: flex;
    /*main axis and cross axis top to bottom*/
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 60px;
}

.logo {
    padding-top: 4px;
}

.project-links a {
    margin: 0px 16px;
}

.about-page {
    padding: 24px 16px;
    margin: 16px 8px;
    border: 1px solid black;
    border-radius: 30px;
}